<!-- Common Scripts -->
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/apexchart/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/apexchart/chart-data.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<!-- Violator List Specific Scripts -->
<script data-cfasync="false" src="{{ url_for('static', filename='js/email-decode.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalerts.min.js') }}"></script>

<!-- Enforcer Specific Scripts -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalerts.min.js') }}"></script>

<!-- Settled Reports Specific Scripts -->
<script data-cfasync="false" src="{{ url_for('static', filename='js/email-decode.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalerts.min.js') }}"></script>


<!-- Bootstrap tablels-->

 